.wrapper-pad{
    padding: 20px 80px;
}
.right-float{
    float:right;
}
.prod-title{
    display: inline-block;
    padding-left: 40px;
    text-transform: uppercase;
}
.align-right{
    float: right;
}
.cursor-ptr{
    cursor: pointer;
}

.cart_link{
    float: right;
    padding-right: 60px;
}
.inline-ele{
    display: inline-block;
}


