@import '../../styles/variables.scss';

.cart-page {
    .cart-title {
        margin-top: 20px;
    }

    .price-section {
        text-align: right;
        margin: 20px 0;

        a.btn-outline-warning {
            margin-right: 10px;
            color: $black;
        }
    }
}