@import '../../styles/variables.scss';

.cart-page {
    .cart-title {
        margin-top: 20px;
    }

    .price-section {
        text-align: right;
        margin: 20px 0;

        a.btn-outline-warning {
            margin-right: 10px;
            color: $black;
        }
    }

    .product-grid {
        .card {
            a {
                padding-bottom: 20px;
            }

            .card-body {
                a {
                    width: 56%;
                    color: $black;
                    font-weight: 500;
                    padding-bottom: 0;
                }

                .card-title {
                    margin-bottom: 5px;
                }

                .card-text {
                    margin-bottom: 5px;
                }
            }
        }
    }
}