@import '../../styles/variables.scss';

.cart-page {
    .cart-title {
        margin-top: 20px;
    }

    .total-price-section {
        text-align: right;
        margin: 20px 0;

        a.btn-outline-warning {
            margin-right: 10px;
            color: $black;
        }

        span {
            width: 16%;
            display: inline-block;
        }
    }

    .price-section {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;

        .price-input {
            width: 120px;
            margin-right: 8px; 
        }

        .price {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .product-grid {
        .card {
            a {
                padding-bottom: 20px;
            }

            .card-body {
                a {
                    color: $black;
                    font-weight: 500;
                    padding-bottom: 0;
                }

                .card-title {
                    margin-bottom: 5px;
                }

                .card-text {
                    margin-bottom: 5px;
                }

                .add-to-wishlist {
                    margin-left: 8px;
                }

                .remove-from-cart-button {
                    color: $black; 
                }
            }
        }
    }
}