.media-image{
  width: 5rem !important;
  height: auto !important;
}


.disc-rate{
  color:#B12704;
  font-size: 14px;
  font-weight: bold;
}

.org-rate{
  text-decoration: line-through;
  color: #555;
  font-size: 14px;
}