.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    padding-left: 0;
    width: calc(300px + 1rem);
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
}

.searchbox i {
    position: absolute;
    padding: 5px;
    color: white;
}

.searchbox input[type=search] {
    background: #333 no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 100%;
    background-color: #333;
    border: solid 1px #b3b3b3;
    color: #fff;
}