.primary-button{
    border: none;
    padding: 12px 60px;
    border-radius: 3px;
    background: $yellow3;
    @include font(Helvetica, 16px, bold, $grey2);

    &:hover{
        cursor: pointer;
        background: $yellow4;
    }
}
