// Color Constants

$black: #000000;
$white: #FFFFFF;
$red:"#FF0000";
$grey1: #525252;
$yellow1: #F1BC2B;
$yellow2: #f2bd00;
$grey2: #444444;
$grey3: #7c7c7c;
$grey4: #d6d6d6;
$grey5: #fafafa;
$grey6: #aeaeae;
$grey7: #767676;
$grey8: #e0e0e0;
$grey9: #f5f5f5;
$yellow3: #f3be00;
$yellow4: #e6b401;

// Fonts Constants

$Helvetica: Arial, Helvetica, sans-serif;
$Helvetica-light: Helvetica-light;

