// Common
$white: #ffffff;
$black: #000000;
$grey: #718093;
$light-grey: #e6dcdc;



// Site Variables
$header_bg: #2f3640;
$header_text: $white;

$logo_color: #e1b12c;

$suggestions_bg: $header_bg;
$suggestions_text: $white;

$footer_bg: #f9f9f9;
$footer_links: $black;

$banner_heading_text: $black;
$banner_subheading_text: $grey;