// Color Constants

$black: #000000;
$white: #FFFFFF;
$red:"#FF0000";
$grey1: #525252;
$yellow1: #F1BC2B;
$yellow2: #f2bd00;
$grey2: #444444;
$grey3: #7c7c7c;
$grey4: #d6d6d6;

// Fonts Constants

$Helvetica: Arial, Helvetica, sans-serif;