.todos {
    &__list {
        &--item {
            display: block;
        }

        .completed &--title {
            text-decoration: line-through;
        }
    }

    &__delete {
        text-decoration: none;
        color: red;
        cursor: pointer;
    }
}
