@import '../../scss/variables';

.media-image{
  width: 5rem !important;
  height: auto !important;
}

.disp-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
    justify-content: center;

    span{
      vertical-align: middle;
    }
}

.cust-width{
  width:60px;
}

.slds-item_label{
  width:60% !important;
}

.slds-item_detail{
  width: 40% !important;
}

hr{
  margin :0.5rem 0 !important; 
}

.brand{
  background: $brand-territory;
  color: #fff
}