.media-image{
  width: 5rem !important;
  height: auto !important;
}

.disp-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
    justify-content: center;

    span{
      vertical-align: middle;
    }
}

.cust-width{
  width:60px;
}