@import '../../../styles/variables.scss';

.card {
    .card-body {
        a {
            color: $black;
            
            &.product-title {
                text-decoration: none;
                color: $black;
            }
        }
    }
}